<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Add User</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>


<div class="outer-div">
    <div class="main">
        <h1>Registration</h1>

        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <label for="first">
                firstName:
            </label>
            <input type="text" id="first" name="firstName" placeholder="Enter your firstName"
                formControlName="firstName" required>

            <label for="first">
                lastName:
            </label>
            <input type="text" id="first" name="lastName" placeholder="Enter your lastName" formControlName="lastName"
                required>

            <label for="first">
                Email:
            </label>
            <input type="text" id="first" name="email" placeholder="Enter your Email" formControlName="email" required>

            <label for="first">
                Age:
            </label>
            <input type="text" id="first" name="age" placeholder="Enter your age" formControlName="age" required>

            <label for="password">
                Password:
            </label>
            <input type="password" id="password" name="password" placeholder="Enter your Password"
                formControlName="password" required>

            <label for="password">
                userName:
            </label>
            <input type="text" id="password" name="userName" placeholder="Enter your userName"
                formControlName="userName" required>

            <label>
                Image:
            </label>
            <input type="file" name="image" formControlName="image" (change)="onImageChange($event)" required>


            <div class="wrap">
                <button type="submit">
                    Submit
                </button>
            </div>
        </form>

        <p>
            <a href="/" style="text-decoration: none;">
                back to Dashboard
            </a>
        </p>
    </div>
</div>