<div class="table-div">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            UserInformation
        </a>
    </nav>
  
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>sr. No</th>
                <th>firstName</th>
                <th>lastName</th>
                <th>Age</th>
                <th>Email</th>
                <th>userName</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of user; index as j">
                <td>{{j+1}}</td>
                <td>{{i.firstName}}</td>
                <td>{{i.lastName}}</td>
                <td>{{i.age}}</td>
                <td>{{i.email}}</td>
                <td>{{i.userName}}</td>
                <td><img src="http://localhost:4000/{{i.image}}" width="80px" height="80px"></td>
                <td>
                    <button class="btn btn-primary" (click)="delete(i._id)">Delete</button>&nbsp;
                    <button class="btn btn-info">Update</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>